body
{
  background-color:#d6e0f5;
}
.container
{
  background-color:#FFFFFF;
}
.box {
    text-align: center;
  }
#about
{
  background-color:#252525;
  max-height:3000px;
  margin: 50px 0px 0px 00px;
}
.footer
{
  font-family: 'Tangerine', serif;
  font-size: 25px;
}
.navbar-brand
{
  font-family: 'Tangerine', serif;
  font-size: 30px;
}
h4
{
  margin: 100px 0px 20px 20px;
  color:#FFF;
  font-family: 'Cinzel', serif;
  font-size: 25px;
}
.portfolio-text
{
  margin: 20px 0px 20px 20px;
  color:#FFF;
  font-family: 'Cinzel', serif;
  font-size: 25px;
}
.contact-text
{
  margin: 20px 0px 20px 20px;
  color:#000;
  font-family: 'Cinzel', serif;
  font-size: 25px;
}
.contact-texts
{
  margin: 20px 0px 20px 20px;
  color:#000;
  font-family: 'Cinzel', serif;
  font-size: 20px;
}
.about-border
{
  border:2px solid #fff;
  margin: 10px 0px 10px 15px;
}
.image-border
{
  margin: 100px 0px 10px 0px;
  border-radius: 50%;
}
.font-aws
{
  color:#4747d1;
}
#portfolio
{
  background-color:#737373;
  max-height:3000px;
  margin: 2px 0px 0px 00px;
}
#contact
{
  background-color:#d9d9d9;
  max-height:3000px;
  margin: 2px 0px 20px 00px;
}
.navbar-default {
  background-color: #1c1f83;
  border-color: #3ceede;
}
.navbar-default .navbar-brand {
  color: #20bce3;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #3e7790;
}
.navbar-default .navbar-text {
  color: #20bce3;
}
.navbar-default .navbar-nav > li > a {
  color: #20bce3;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #3e7790;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #3e7790;
  background-color: #3ceede;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #3e7790;
  background-color: #3ceede;
}
.navbar-default .navbar-toggle {
  border-color: #3ceede;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #3ceede;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #20bce3;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #20bce3;
}
.navbar-default .navbar-link {
  color: #20bce3;
}
.navbar-default .navbar-link:hover {
  color: #3e7790;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #20bce3;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #3e7790;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #3e7790;
    background-color: #3ceede;
  }
}
